<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WareFlow AI Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="dashboard-container">

    <h1>📦 WareFlow AI</h1>

    <p>Smart Warehouse Operations Platform</p>

    <div class="cards">

        <div class="card">
            <h2>📦</h2>
            <h3>Products</h3>
            <p>3</p>
        </div>

        <div class="card">
            <h2>📍</h2>
            <h3>Locations</h3>
            <p>3</p>
        </div>

        <div class="card">
            <h2>👥</h2>
            <h3>Employees</h3>
            <p>1</p>
        </div>

        <div class="card">
            <h2>🖨️</h2>
            <h3>QR Labels</h3>
            <p>1</p>
        </div>

    </div>

    <button onclick="location.href='/search'">
        🔍 Search Warehouse Location
    </button>

    <button onclick="location.href='/inventory'">
    📦 Inventory
</button>

    <button onclick="location.href='/'">
        🚪 Logout
    </button>

</div>

</body>
</html>