<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Label</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="qr-container">

    <h1>WareFlow AI</h1>

    <p>Warehouse Label Generated Successfully</p>

    <hr style="border:1px solid #30363d; margin:20px 0;">

    <h2>{{ product.product_name }}</h2>

    <p><strong>SKU:</strong> {{ product.sku }}</p>

    <p><strong>Rack:</strong> {{ product.rack }}</p>

    <p><strong>Shelf:</strong> {{ product.shelf }}</p>

    <p><strong>Bin:</strong> {{ product.bin }}</p>

    <img src="{{ qr_image }}" alt="QR Code">

    <p><strong>Location:</strong> {{ location }}</p>

    <button onclick="window.print()">
        Print Label
    </button>

    <button onclick="location.href='/dashboard'">
        Back to Dashboard
    </button>

</div>

</body>
</html>